.DS_Store

.git

node_modules/

.env*

.vscode/
.idea/
*.swp
*.swo
*~

dist/
build/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.history/

.github/
.last_upstream_sha