.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.nfs*

.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
.history/
*.iml

node_modules/
bower_components/

dist/
build/
coverage/
public/build/

*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tmp
*.temp
*.pid
*.pid.lock

.env
.env.local
.env.*.local

docker-compose.override.yml
.trivy-cache/
.snyk/

*.pem
*.key
*.crt
*.csr
*.der

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

*.swp
*.swo
*~

